: Note, uncomment to try a local install before publishing to the public one
;email=admin@example.org
;//127.0.0.1:8081/repository/npm-local-sonatype/:_authToken=NpmToken.f31b8f17-b443-3268-af68-651bf031ea21
;@embraceio:registry=http://127.0.0.1:8081/repository/npm-local-sonatype/
@embraceio:registry=https://origin-repo.embrace.io/repository/web-testing/