.product {
    background-color: #eeeeee;
    border-radius: 12px;
    padding: 16px;
    color: #231F1F;
    cursor: pointer;
}

.picture {
    max-width: 100%;
    border-radius: 12px;
}

.title {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.shortDescription {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}